<%= header do %>
  <h2>
    Unpublished pages
  </h2>
  <div>
    <div data-target="interpolation.text">There's {{selection.count}} selected</div>
    <%= submit_tag "Create update",
                    'data-target': 'toggle.hide event-forwarder.source',
                    'data-action': 'click->event-forwarder#transfer',
                    'data-toggle-source': 'interpolation',
                    'data-event-forwarder-id': 'publicationCreation',
                    'data-event-forwarder-hide': true
                  %>
  </div>
<% end %>

<div class="card-list" data-controller="selection">
  <%= render partial: 'page_card',
             collection: @pages,
             as: :page,
             locals: { selectable: true } %>

  <%= form_tag admin_partial_publications_path, remote: true do %>
    <%= select_tag 'page_ids',
                    options_from_collection_for_select(@pages, :id, :created_at),
                    multiple: true, 'data-target': 'selection.selector' %>
    <%= submit_tag "Create update",
                   'data-target': 'event-forwarder.destination',
                   'data-event-forwarder-id': 'publicationCreation' %>
  <% end %>
</div>
