<% selectable ||= false %>
<%= content_tag :div, class: 'page-card' + (selectable ? ' page-card--selectable' : ''),
                      data: { id: page.id,
                              target: ('selection.selectable' if selectable),
                              action: ('click->selection#toggleSelection' if selectable) } do %>

  <p class="page-card__publication-date"><%= icon_tag 'clock' %> <%= page.created_at.to_s(:standard) %></p>

  <%= image_tag page.image, class: "page-card__picture" %>

  <% if page.content.present? %>
    <%= icon_tag 'align-justify', :regular, class: "page-card__description-indicator" %>
    <p class="page-card__description"><%= page.content %></p>
  <% else %>
    <%= icon_tag 'align-slash', :regular, class: "page-card__description-indicator" %>
  <% end %>

  <%= icon_tag 'check', :solid, class: "page-card__selector" %>
<% end %>
