<!DOCTYPE html>
<html>
  <head>
    <title>Smogs - ADMIN</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/fa8f5ac4cb.js" crossorigin="anonymous"></script>
  </head>

  <body class="layout layout--sidebar"
        data-controller="interpolation toggle remote-event"
        data-action="interpolation-needed->interpolation#interpolate
                     toggle-hide->toggle#hide">
    <main class="layout__content">
      <%= yield %>
    </main>
    <header class="layout__header">
      <% if content_for :header %>
        <%= content_for :header %>
      <% else %>
        <h2>Sans titre ?</h2>
      <% end %>
    </header>
    <nav class="layout__navigation">
      <a class="layout__navigation-item">Test 1</a>
      <a class="layout__navigation-item">Test 2</a>
      <a class="layout__navigation-item">Test 3</a>
      <a class="layout__navigation-item">Test 4</a>
    </nav>
    <div class="layout__logo">

    </div>
  </body>
</html>
